@charset "utf-8";
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    -webkit-hyphens:none;
    hyphens:none;
    text-align: justify;
}

h1 {
    border-bottom: 1pt solid #cccccc;
    padding-bottom: 0.25em;
}

h2 {
    margin-top: 0px !important;
    page-break-before: always !important;
}

h3 {
    color: #277147;
    border-bottom:1px solid #a1a1a1;
}

h3 + p, h4 + p, h5 + p, h6 + p {
    page-break-before: avoid !important;
}

h1, h2, h3, h4, h5, h6 {
    page-break-after:avoid !important;
}

/** Links */
a {
    color: #428bca;
}

a:link:not([href^="#"]):after {
    content: "";
}

/** Horizontal ruler */
hr {
    page-break-after:always !important;
    border-color:transparent !important ;
}

/** Lists */
ul {
    list-style-type: square;
}

/** Tables */
table {
    max-width: 100% !important;
    overflow: auto;
    display: block; /* Fix for wide tables */
    page-break-after:auto !important;
    border-collapse: collapse !important;
}

thead, tfoot {
    display: table-header-group !important;
}

thead, tbody, tfoot {
    vertical-align: middle;
}

td {
    page-break-inside:auto;
}

tr {
    page-break-inside: avoid !important;
}

th {
    font-weight: bolder;
    text-align: center;
}

td, th, tr {
    vertical-align: inherit;
}

th, td {
    border: 1pt solid #cccccc;
    padding: 0.25rem;
}

tr:nth-child(2n) {
    background-color: #f8f8f8;
}

thead tr td, thead tr th {
    border-bottom-width: 1pt;
    border-bottom-color: #666666;
}

/** Code **/
pre > code, pre, tt, code, kbd, samp {
    font-family: Menlo,Monaco,Consolas,"Courier New", monospace;
    font-size: 12px;
    color: inherit;
    background-color: transparent;
    white-space: pre-wrap;
    padding: 1em;
}

code {
    padding: 2px 4px;
    color: #c7254e;
    background-color: #f9f2f4;
    white-space: nowrap;
    border-radius: 4px;
}

pre {
    padding: 5px;
    color: #000000;
    background-color: transparent;
    border-left: 2px solid #ddd;
}

/** User input */
kbd {
    font-family: Menlo,Monaco,Consolas,"Courier New", monospace;
    padding: 2px 4px;
    font-size: 90%;
    color: #fff;
    background-color: #333;
    border-radius: 3px;
    -webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,.25);
    box-shadow: inset 0 -1px 0 rgba(0,0,0,.25);
}

/** Figures */
figure, figcaption {
    border: none;
    text-align: left;
    color: #333333;
    width: 100% !important;
    margin: 0px 0px 20px 0px !important;
    padding: 0px !important;
    page-break-inside: avoid !important;
}

figure img {
    max-width: 100%;
}

figcaption {
    font-style: italic;
    margin-top: 5px !important;
    clear: both;
}

/** Input */
input:disabled, textarea:disabled {
    color: rgb(84, 84, 84);
    cursor: default;
}

/** Extra elements */
.text-muted {
    color: #737373;
}

.tip {
    background-color: #d9edf7;
    border-color: #bce8f1;
    color: #31708f;
    padding:15px;
    margin-bottom: 20px;
    border-style: solid;
    border-width: 0px 0px 0px 5px !important;
    border-radius: 0px;
}

.note {
    background-color: #fcf8e3;
    border-color: #faebcc;
    color: #8a6d3b;
    padding:15px;
    margin-bottom: 20px;
    border-style: solid;
    border-width: 0px 0px 0px 5px !important;
    border-radius: 0px;
}