@charset "utf-8";
body {
    font-family: "Times New Roman",serif;
    font-size: 1em;
    -webkit-hyphens:none;
    hyphens:none;
    text-align: justify;
}

h1 {
    page-break-before: auto;
}

h3 {
    color: #277147;
    border-bottom:1px solid #a1a1a1;
}

h1, h2, h3, h4, h5, h6 {
    page-break-after: avoid;
}

a {
    color: #277147;
}

.text-muted {
    color: #737373;
}

@page {
    margin-top: 30px;
    margin-bottom: 20px;
}

/* Additional Styles for PhotosynQ*/
code {
    font-family: "Sans Mono", "Consolas", "Courier", monospace;
    padding: 2px 4px;
    font-size: 90%;
    color: #c7254e;
    background-color: #f9f2f4;
    white-space: nowrap;
    border-radius: 4px;
}

pre {
    font-family: "Sans Mono", "Consolas", "Courier", monospace;
    padding: 5px;
    background-color: transparent;
    border-left: 2px solid #ddd;
}

pre > code {
    font-family: "Sans Mono", "Consolas", "Courier", monospace;
    font-size: 12px;
    color: inherit;
    background-color: transparent;
    white-space: pre-wrap;
    padding: 1em;
    page-break-inside: avoid;
}

table {
    border-collapse: collapse;
}

thead, tfoot {
    display: table-header-group !important;
}

/* tr, th, td {
    margin: 0;
    padding: 2px;
    border: 1px solid black;
    font-size: 100%;
    vertical-align: baseline;
} */

thead th {
    border-bottom:1px solid #a1a1a1;
}

tbody tr:nth-child(even) {
    background-color: #f5f5f5;
}

tr th, tr td {
    padding: 0.2em;
    page-break-inside: avoid !important;
}

ul{
    list-style-type: square;
}

figure, figcaption {
    width: 100% !important;
    margin: 0px;
}

figcaption {
    margin-top:5px;
}

/** Extra elements */
.tip {
    background-color: #d9edf7;
    border-color: #bce8f1;
    color: #31708f;
    padding:15px;
    margin-bottom: 20px;
    border-style: solid;
    border-width: 0px 0px 0px 5px !important;
    border-radius: 0px;
}

.note {
    background-color: #fcf8e3;
    border-color: #faebcc;
    color: #8a6d3b;
    padding:15px;
    margin-bottom: 20px;
    border-style: solid;
    border-width: 0px 0px 0px 5px !important;
    border-radius: 0px;
}

small {
    font-size: 80%;
}